*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
/*
body{
    font-family:'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 74vw;
    height: 17vh;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}

.menu_lista{
    padding: 20px 8px;
    height: 100%;
}

.menu_lista:hover{
    background-color:lightblue;
}

*/